/* Paleta */
:root {
    --main-color: #008080;
    --background-color: #e0f2f1;
    --card-border-color: #008080;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
.header {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header h1 {
    font-size: 1.8em;
}

/* CONTAINERS SEPARADOS */
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 40px; /* para separar automaticamente */
}

/* SEPARADOR ENTRE OS ITINERÁRIOS */
.separador {
    width: 100%;
    height: 100px; /* ESPAÇO REAL AQUI */
}

/* Cards */
.card {
    background-color: white;
    width: 45%;
    border: 5px solid var(--card-border-color);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-header {
    background-color: var(--card-border-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.card-image-wrapper {
    background-color: var(--card-border-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: var(--card-border-color);
    color: white;
    text-align: center;
    padding: 15px;
}

/* Imagens */
.atv {
    border-radius: 5px;
    width: 500px;
    height: 600px;
}

/* Botão voltar */
#voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
}

#voltar:hover {
    background-color: #006666;
}
